body{
    margin: 0;
    padding: 0;
    background: url(img/bg.jpg) no-repeat fixed;  
    background-size: cover;
}
.box{
    width: 400px;
    background: rgb(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.box-img{
    border-radius: 60%;
    width: 200px;
    height: 200px;
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}
.box p{
    text-align: justify;
}
ul{
    margin: 0;
    padding: 0;
}
.box li{
    display: inline-block;
    margin: 10px;
    list-style: none;
}
.box li{
    color: white;
    font-size: 25px;
    text-align: center;
}  
.box a {
    position: relative;
    display: inline-block;
    color: rgb(255, 255, 255);
    overflow: hidden;
    background: linear-gradient(to right, rgb(196, 196, 196) 50%, rgb(196, 196, 196) 50%, white 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
  }
  a:hover {
    background-position: 0 100%;
  }